$swd-primary:		#14110e;
$swd-light:			#b048b0;
$swd-mid:			#792d79;
$swd-yellow:		#e1ab46;
$swd-mid-gray:		#313131;
$swd-light-gray:	#ebebeb;


/***************************

UI kit Variables

***************************/


//Forms
$form-focus-border:                             #662f66;
$form-focus-background:                         #ffeeff;

//Buttons
$button-primary-background:                     $swd-mid;
$button-primary-hover-background:               $swd-light;
$button-primary-hover-color:                    #fff;
$button-primary-active-background:              $swd-mid;
$button-primary-active-color:                   #fff;